/*
Theme Name: The Finley Theme
Theme URI: http://www.ronfinley.com
Author: Made by Porter
Author URI: https://www.madebyporter.com
Description: The Official Theme for Ron Finley
Version: 0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: fresh, green
Text Domain: thefinleytheme
*/
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:200,400,700,800);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400italic,400,300italic,300,700,700italic);
body {
  background: #222;
  font-family: "Merriweather", Georgia, serif;
  margin: 0;
  padding: 0;
}
body.menu-active {
  overflow: hidden;
}
body.menu-active .navmenu {
  -webkit-transform: translateX(-310px);
  -moz-transform: translateX(-310px);
  -o-transform: translateX(-310px);
  transform: translateX(-310px);
}
@media (min-width: 992px) {
  body.menu-active .navmenu {
    -webkit-transform: translateX(-800px);
    -moz-transform: translateX(-800px);
    -o-transform: translateX(-800px);
    transform: translateX(-800px);
  }
}
body.menu-active .navmenu:before {
  -webkit-transform: skewX(2deg);
  -moz-transform: skewX(2deg);
  -o-transform: skewX(2deg);
  transform: skewX(2deg);
}
@media (min-width: 992px) {
  body.menu-active .navmenu:before {
    -webkit-transform: skewX(5deg);
    -moz-transform: skewX(5deg);
    -o-transform: skewX(5deg);
    transform: skewX(5deg);
  }
}

a {
  color: #ffaa01;
  cursor: pointer;
}
a:hover {
  color: #ffeece;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather Sans", Helvetica, sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

h1 {
  font-size: 36px;
  color: #fffee6;
}
@media (min-width: 992px) {
  h1 {
    font-size: 60px;
  }
}
h1 .text-small {
  font-size: 18px;
}
@media (min-width: 992px) {
  h1 .text-small {
    font-size: 24px;
  }
}

h2 {
  font-size: 18px;
  color: #fffee6;
}
@media (min-width: 992px) {
  h2 {
    font-size: 48px;
  }
}

h3 {
  font-size: 16px;
  line-height: 20px;
  color: #fffee6;
}
@media (min-width: 992px) {
  h3 {
    font-size: 21px;
    line-height: 25px;
  }
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  font-weight: 300;
  margin-bottom: 20px;
}

.align-left {
  float: left;
  clear: left;
  width: 100%;
  padding: 20px 0;
}
@media (min-width: 992px) {
  .align-left {
    width: auto;
    padding: 40px;
  }
}

.align-right {
  float: right;
  clear: right;
  width: 100%;
  padding: 20px 0;
}
@media (min-width: 992px) {
  .align-right {
    width: auto;
    padding: 40px;
  }
}

.btn {
  font-family: "Merriweather Sans", Helvetica, sans-serif;
  font-weight: 700;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 0;
  background: #bfbfbf;
}

.btn-green {
  color: #58561e;
  background: #dbd83c;
}
.btn-green:hover {
  color: black;
  background: #e3e167;
}

.btn-orange {
  color: #fff;
  background: #ffaa01;
}
.btn-orange:hover {
  color: black;
  background: #ffbb34;
}

.btn-donate {
  color: #fff7e8;
  background: #ffaa01;
}
.btn-donate:hover {
  color: #684400;
  background: #ffbb34;
}

.btn-cta {
  background: #ffaa01;
  float: right;
  margin: 13px 0;
}

.btn-cta-3 {
  margin: 26px 0;
}

.btn-play {
  background: none;
  border: 3px solid #dbd83c;
  border-radius: 100px;
  color: #dbd83c;
  font-size: 36px;
  overflow: hidden;
  padding: 20px 30px;
  position: relative;
  -webkit-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
}
.btn-play:hover {
  border-color: #fffee6;
  color: #fffee6;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.btn-play:active {
  border-color: #fffee6;
  color: #fffee6;
}
.btn-play i {
  line-height: 1;
}

.centered {
  text-align: center;
}

.navmenu {
  position: fixed;
  z-index: 10000;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 310px;
  height: 100%;
  /* transform: translateX(105%); */
  -webkit-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
}
@media (min-width: 992px) {
  .navmenu {
    width: 800px;
  }
}
.navmenu:before {
  -webkit-transform: skewX(0deg);
  -moz-transform: skewX(0deg);
  -o-transform: skewX(0deg);
  transform: skewX(0deg);
  background: #dbd83c;
}

.navmenu-options {
  float: right;
  height: 100%;
  padding: 20px 0;
  border-left: 1px solid #323111;
  list-style: none;
}
.navmenu-options li > div, .navmenu-options li > a {
  font-size: 24px;
  font-style: normal !important;
  font-weight: 700;
  line-height: 34px;
  display: block;
  padding: 25px 20px;
  cursor: pointer;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
@media (min-width: 992px) {
  .navmenu-options li > div, .navmenu-options li > a {
    padding: 30px 20px;
  }
}
.navmenu-options li > div:hover, .navmenu-options li > a:hover {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

.navmenu-close {
  font-family: "Merriweather Sans", Helvetica, sans-serif;
  background: rgba(255, 255, 255, 0.4);
}

.navmenu-list ul {
  float: right;
  overflow: hidden;
  width: 75%;
  height: 100%;
  margin: 20px 0 0 0;
  padding-bottom: 10%;
  text-align: right;
}
@media (min-width: 992px) {
  .navmenu-list ul {
    width: 80%;
  }
}
.navmenu-list ul li {
  position: relative;
  display: block;
}
.navmenu-list ul li:before {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  content: '';
  -webkit-transform: translateX(105%) skewX(2deg);
  -moz-transform: translateX(105%) skewX(2deg);
  -o-transform: translateX(105%) skewX(2deg);
  transform: translateX(105%) skewX(2deg);
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
}
@media (min-width: 992px) {
  .navmenu-list ul li:before {
    -webkit-transform: translateX(105%) skewX(5deg);
    -moz-transform: translateX(105%) skewX(5deg);
    -o-transform: translateX(105%) skewX(5deg);
    transform: translateX(105%) skewX(5deg);
  }
}
.navmenu-list ul li:hover:before {
  -webkit-transform: translateX(10%) skewX(2deg);
  -moz-transform: translateX(10%) skewX(2deg);
  -o-transform: translateX(10%) skewX(2deg);
  transform: translateX(10%) skewX(2deg);
}
@media (min-width: 992px) {
  .navmenu-list ul li:hover:before {
    -webkit-transform: translateX(10%) skewX(5deg);
    -moz-transform: translateX(10%) skewX(5deg);
    -o-transform: translateX(10%) skewX(5deg);
    transform: translateX(10%) skewX(5deg);
  }
}
.navmenu-list ul a {
  font-family: "Merriweather Sans", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  z-index: 10;
  display: block;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #323111;
  -webkit-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
}
.navmenu-list ul a:hover {
  padding-right: 40px;
}
@media (min-width: 992px) {
  .navmenu-list ul a {
    font-size: 24px;
    padding: 30px 20px;
  }
}

.remove-sides {
  margin-right: -15px;
  margin-left: -15px;
}
.remove-sides .content-piece, .remove-sides ol, .remove-sides ul, .remove-sides li {
  padding-right: 15px;
  padding-left: 15px;
}

.remove-sides-double {
  margin-right: -30px;
  margin-left: -30px;
}
@media (min-width: 992px) {
  .remove-sides-double {
    margin-right: -30px;
    margin-left: -30px;
  }
}
.remove-sides-double .content-piece,
.remove-sides-double ol,
.remove-sides-double ul,
.remove-sides-double li {
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 992px) {
  .remove-sides-double .content-piece,
  .remove-sides-double ol,
  .remove-sides-double ul,
  .remove-sides-double li {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.masthead {
  position: absolute;
  z-index: 10000;
  width: 100%;
  opacity: 1;
  padding: 20px 0;
  visibility: visible;
  -webkit-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
}
@media (min-width: 992px) {
  .masthead {
    padding: 40px 20px;
  }
}

.masthead-logo {
  z-index: 20;
  display: block;
  overflow: hidden;
  width: 60px;
  height: 37px;
  text-indent: -9999px;
  background: url("img/rf-logo-white-small.svg") no-repeat;
  background-size: cover;
}
@media (min-width: 992px) {
  .masthead-logo {
    width: 131px;
    height: 89px;
    background: url("img/rf-logo-white.svg") no-repeat;
    background-size: cover;
  }
}

.masthead-menu-trigger {
  font-size: 24px;
  position: relative;
  float: right;
  width: 100%;
  height: 37px;
}
@media (min-width: 992px) {
  .masthead-menu-trigger {
    height: 89px;
  }
}

.menu-trigger-bars {
  position: absolute;
  right: 0;
  width: 45px;
  height: 30px;
  cursor: pointer;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.menu-trigger-bars:before {
  font-family: "Merriweather Sans", Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 200;
  line-height: 27px;
  position: absolute;
  left: -50px;
  overflow: hidden;
  width: 45px;
  height: 27px;
  content: 'Menu';
  text-align: right;
  text-indent: 0;
  letter-spacing: .02em;
  text-transform: uppercase;
  color: #fffee6;
  -webkit-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
}

.menu-trigger-bars-ele {
  width: 100%;
  height: 5px;
  margin-bottom: 5px;
  background: #fffee6;
}

.content-block {
  position: relative;
}
.content-block .container-fluid {
  /*padding-left: 0;
  padding-right: 0;*/
}
.content-block.feed {
  position: relative;
  z-index: 10;
  -webkit-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
}

.hero {
  padding: 100px 0 40px 0;
  position: relative;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .hero {
    padding: 15% 0;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
  }
}

.hero--content {
  height: auto;
  position: absolute;
  width: 300px;
  z-index: 1000;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (min-width: 992px) {
  .hero--content {
    width: 100%;
  }
}

.hero--header {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .hero--header {
    width: 100%;
  }
}
.hero--header h1 {
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .hero--header h1 {
    margin: 0 auto;
  }
}
.hero--header h1 span {
  display: inline-block;
}
.hero--header .large {
  display: block;
}

.home .hero {
  background-position: center top;
  height: 548px;
  padding: 0;
  position: relative;
}
@media (min-width: 1200px) {
  .home .hero {
    height: 721px;
  }
}
@media (min-width: 1440px) {
  .home .hero {
    height: 860px;
  }
}

.hero-content-container {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.hero-content-container .container-fluid, .hero-content-container .row, .hero-content-container .col-md-12 {
  height: 100%;
}

.hero-html5video {
  background: #323111;
  bottom: 0;
  display: none;
  height: 548px;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
@media (min-width: 992px) {
  .hero-html5video {
    display: block;
  }
}
@media (min-width: 1200px) {
  .hero-html5video {
    height: 721px;
  }
}
@media (min-width: 1440px) {
  .hero-html5video {
    height: 860px;
  }
}

.hero-html5video-control {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0.4;
  filter: alpha(opacity=40);
  height: 548px;
}
@media (min-width: 992px) {
  .hero-html5video-control {
    height: 675px;
  }
}
@media (min-width: 1200px) {
  .hero-html5video-control {
    height: 811px;
  }
}
@media (min-width: 1440px) {
  .hero-html5video-control {
    height: 1080px;
  }
}

.hero-popover-video {
  -webkit-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 10000;
}
.hero-popover-video iframe {
  opacity: 0;
  -webkit-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
}

.hero-popover-video-close {
  color: #fffee6;
  cursor: pointer;
  font-size: 36px;
  opacity: 0;
  position: absolute;
  right: 13px;
  top: 130px;
  -webkit-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 800ms;
  -moz-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 800ms;
  -o-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 800ms;
  transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 800ms;
}
.hero-popover-video-close:hover {
  color: #fff;
}

.hero-video-on {
  overflow: hidden;
}
.hero-video-on .masthead {
  opacity: 0;
  visibility: hidden;
}
.hero-video-on .hero-popover-video {
  opacity: 1;
  visibility: visible;
}
.hero-video-on .hero-popover-video iframe {
  opacity: 1;
  height: 548px;
}
@media (min-width: 992px) {
  .hero-video-on .hero-popover-video iframe {
    height: 675px;
  }
}
@media (min-width: 1200px) {
  .hero-video-on .hero-popover-video iframe {
    height: 721px;
  }
}
@media (min-width: 1440px) {
  .hero-video-on .hero-popover-video iframe {
    height: 860px;
  }
}
.hero-video-on .hero-popover-video-close {
  opacity: 1;
}

.sup-header {
  position: relative;
  margin: 0 0 10px 0;
  padding: 10px 0;
  color: #fffee6;
}
@media (min-width: 992px) {
  .sup-header {
    width: 50%;
    margin: 0 auto 10px;
  }
}
.sup-header:after {
  position: absolute;
  bottom: 0;
  width: 40%;
  height: 4px;
  content: '';
  background: #dbd83c;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.copy {
  position: relative;
}

.copy .content-piece-container {
  position: relative;
}
.copy .content-piece-container:nth-child(even) {
  background: #262626;
}
@media (min-width: 992px) {
  .copy .content-piece-container > div:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
  }
}

.content-piece {
  margin: 0 auto;
  padding: 80px 0;
  text-align: center;
}
@media (min-width: 768px) {
  .content-piece {
    width: 70%;
  }
}
@media (min-width: 992px) {
  .content-piece {
    width: 70%;
    text-align: left;
  }
}
.content-piece p {
  color: #fffee6;
  font-family: "Merriweather", Georgia, serif;
  font-size: 21px;
  line-height: 29px;
  overflow: hidden;
  text-align: left;
}
.content-piece p.centered-mobile {
  text-align: center;
}
@media (min-width: 992px) {
  .content-piece p.centered-mobile {
    text-align: left;
  }
}

.content-piece-wide {
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 992px) {
  .content-piece-wide {
    background-attachment: fixed;
  }
}
.content-piece-wide .content-piece-header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.content-piece-wide .content-piece-header:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.content-piece-wide .intro p {
  text-align: center;
}
.content-piece-wide .intro p:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.content-piece-wide p {
  font-size: 21px;
  font-weight: 300;
  line-height: 29px;
}
.content-piece-wide img {
  border: 2px solid rgba(255, 255, 255, 0.1);
  height: auto;
  padding: 5px;
  width: 100%;
}
@media (min-width: 992px) {
  .content-piece-wide img {
    width: auto;
  }
}

.content-piece--copy:last-child p:after {
  display: none;
}

img.alignright {
  float: right;
  margin: 0 0 1em 3em;
}

img.alignleft {
  float: left;
  margin: 0 3em 1em 0;
}

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.large p {
  font-size: 28px;
  line-height: 38px;
  position: relative;
  padding-bottom: 20px;
}
.large p:after {
  position: absolute;
  bottom: 0;
  width: 20%;
  height: 2px;
  content: '';
  background: rgba(255, 255, 255, 0.1);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (min-width: 992px) {
  .large p:after {
    left: 3px;
    transform: translateX(0);
  }
}

.intro p {
  text-align: left;
}
.intro p:after {
  position: absolute;
  bottom: 0;
  width: 20%;
  height: 2px;
  content: '';
  background: rgba(255, 255, 255, 0.1);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (min-width: 992px) {
  .intro p:after {
    left: 3px;
    transform: translateX(0);
  }
}

.centered p {
  text-align: center;
}

.content-piece-header {
  position: relative;
  margin: 0 auto 10px;
  padding: 10px 0;
  text-align: center;
}
@media (min-width: 992px) {
  .content-piece-header {
    margin: 0 auto 20px;
    padding: 20px 0;
    text-align: left;
  }
}
.content-piece-header:after {
  position: absolute;
  bottom: 0;
  width: 40%;
  height: 2px;
  content: '';
  background: #dbd83c;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (min-width: 992px) {
  .content-piece-header:after {
    left: 3px;
    transform: translateX(0);
  }
}
.content-piece-header.centered {
  text-align: center;
}
.content-piece-header.centered:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.content-image {
  position: relative;
  overflow: hidden;
  height: 280px;
  background-color: #dbd83c;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}
@media (min-width: 992px) {
  .content-image {
    height: 100%;
  }
}

.content-bg-image {
  background-color: #33320e;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
}

.content-piece--cta {
  font-family: "Merriweather Sans", Helvetica, sans-serif;
  font-weight: 700;
  position: relative;
  display: inline-block;
  margin: 20px auto;
  padding-right: 10px;
  text-transform: uppercase;
  color: #fffee6;
}
.content-piece--cta:after {
  font-family: FontAwesome;
  position: absolute;
  right: -5px;
  margin-top: 0;
  content: '\f0d7';
  color: #ffaa01;
  -webkit-transition: all 200ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 200ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 200ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 200ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
}
.content-piece--cta:hover {
  text-decoration: none;
  color: #fffdcd;
}
.content-piece--cta:hover:after {
  margin-top: 2px;
}
@media (min-width: 992px) {
  .content-piece--cta {
    margin: 20px 0;
    text-align: left;
  }
}

.cta-header {
  margin-bottom: 5px;
}
.cta-header h2 {
  font-size: 28px;
}

.cta-copy {
  padding: 8px 0;
}
.cta-copy .cta-header {
  margin-bottom: 0;
  text-align: center;
}
@media (min-width: 992px) {
  .cta-copy .cta-header {
    text-align: left;
  }
}
.cta-copy .cta-header-small h2 {
  font-size: 24px;
}

.cta {
  background: #dbd83c;
}

.cta-inner {
  position: relative;
  z-index: 1000;
  padding: 20px 0;
}

.cta-col-right {
  height: 100%;
}

.cta-icon {
  border-radius: 66px;
  border: 3px solid #fff;
  color: #fff;
  float: right;
  height: 66px;
  line-height: 70px;
  margin: 15px 0;
  right: 20px;
  text-align: center;
  width: 66px;
  -webkit-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
}
@media (min-width: 1200px) {
  .cta-icon {
    margin: 0;
  }
}
.cta-icon i {
  font-size: 28px;
  color: #fff;
}
.cta-icon:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.cta-link {
  font-family: "Merriweather", Georgia, serif;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  color: #ffeece;
}

.footer {
  position: relative;
  background: #323111;
}

.footer-header {
  margin-bottom: 10px;
}
.footer-header h2 {
  font-size: 16px;
}

.footer-block {
  padding: 20px 0;
}

.footer-nav a {
  font-family: "Merriweather Sans", Helvetica, sans-serif;
  display: block;
  padding: 20px 0;
  text-align: left;
  text-transform: uppercase;
  color: #fffbb7;
}
.footer-nav a:hover {
  font-weight: 700;
  text-decoration: none;
  color: #fffee6;
}
@media (min-width: 992px) {
  .footer-nav a {
    padding: 10px 0;
  }
}
.footer-nav .menu-navigation-container .menu {
  -webkit-columns: 250px 2;
  -moz-columns: 250px 2;
  columns: 250px 2;
}
.footer-nav .menu-navigation-container .menu li {
  display: inline-block;
  width: 250px;
  vertical-align: top;
}

.footer-email {
  text-align: center;
  background: url("https://dl.dropboxusercontent.com/u/80054631/img-leaf.jpg") no-repeat center;
  background-size: cover;
}
@media (min-width: 992px) {
  .footer-email {
    text-align: left;
  }
}

.footer-email-form {
  padding: 42px 0;
}

.footer-email--input {
  font-family: "Merriweather Sans", Helvetica, sans-serif;
  width: 100%;
  margin-bottom: 5px;
  padding: 15px 0;
  text-align: center;
  border: 0;
}

.footer-email--text {
  font-family: "Merriweather Sans", Helvetica, sans-serif;
  font-size: 16px;
  padding-right: 15px;
  padding-left: 15px;
  outline: 0;
  box-shadow: inset 6px 0 0 #ffaa01;
  -webkit-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
}
@media (min-width: 992px) {
  .footer-email--text {
    text-align: left;
  }
}
.footer-email--text:focus {
  padding-left: 25px;
  box-shadow: inset -2px -2px 0 #9a6600, inset 12px 0 0 #ffaa01;
}

.skew:before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  overflow: visible;
  width: 105%;
  height: 100%;
  content: '';
}

.content-footer {
  border-top: 3px solid rgba(255, 255, 255, 0.2);
  margin: 10px 0 0 0;
  padding: 10px 5px 0;
  text-align: right;
}

.ig-feed {
  display: none;
  background: #333333;
  margin: 20px 0 20px 0;
  padding: 20px 0 10px;
}
@media (min-width: 992px) {
  .ig-feed {
    margin: 20px 0 20px 5px;
  }
}
.ig-feed header {
  margin: 20px 20px 10px 20px;
  padding: 0 0 10px 0;
  position: relative;
  text-align: center;
}
@media (min-width: 992px) {
  .ig-feed header {
    text-align: left;
  }
}
.ig-feed header:after {
  position: absolute;
  bottom: 0;
  width: 10%;
  height: 2px;
  content: '';
  background: rgba(255, 255, 255, 0.1);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (min-width: 992px) {
  .ig-feed header:after {
    left: 0px;
    transform: translateX(0);
  }
}
.ig-feed header h3 {
  display: inline-block;
  margin: 0 0 5px 0;
}
.ig-feed header span {
  color: #ccc;
  display: inline-block;
  font-size: 16px;
}

.instagram {
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: 10;
}
.instagram .item {
  float: left;
  height: auto;
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 10;
  -webkit-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
}
@media (min-width: 768px) {
  .instagram .item {
    padding: 12px;
  }
}
@media (min-width: 992px) {
  .instagram .item {
    width: 33.3%;
  }
}
.instagram .item:hover {
  background-color: #151515;
}
.instagram .item:hover a {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
.instagram .item a {
  display: block;
  width: 100%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
}
.instagram .item img {
  width: 100%;
}

.home-sidebar {
  padding-top: 20px;
}

.home-featured-videos {
  background: #333333;
  margin: 20px 0 20px 0;
  padding: 20px 0 10px;
}
@media (min-width: 992px) {
  .home-featured-videos {
    margin: 20px 0 20px 5px;
  }
}
.home-featured-videos header {
  margin: 20px 0 20px 0;
  padding: 0 0 10px 0;
  position: relative;
  text-align: center;
}
@media (min-width: 992px) {
  .home-featured-videos header {
    text-align: left;
  }
}
.home-featured-videos header:after {
  position: absolute;
  bottom: 0;
  width: 10%;
  height: 2px;
  content: '';
  background: rgba(255, 255, 255, 0.1);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (min-width: 992px) {
  .home-featured-videos header:after {
    left: 0px;
    transform: translateX(0);
  }
}

.home-featured-videos-ele {
  margin: 0 0 10px 0;
}
@media (min-width: 992px) {
  .home-featured-videos-ele {
    margin: 0;
  }
}
.home-featured-videos-ele iframe {
  border: 3px solid transparent;
  -webkit-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
}
.home-featured-videos-ele iframe:hover {
  border: 3px solid #dbd83c;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.sidebar {
  position: relative;
  margin-bottom: 20px;
  padding: 60px 20px 40px 20px;
}
.sidebar:after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: #333333;
}

.sidebar-item {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.sidebar-item:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%;
  height: 2px;
  content: '';
  transform: translateX(0);
  background: rgba(255, 255, 255, 0.2);
}
.sidebar-item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
.sidebar-item:last-child:after {
  display: none;
}
.sidebar-item .fa-caret-left {
  color: #ffaa01;
}

.sidebar-item-header {
  margin-bottom: 5px;
}

.sidebar-item-link {
  font-size: 12px;
  font-weight: 300;
  margin: 0;
}
.sidebar-item-link:after {
  margin-top: 1px;
  content: '\f0da';
}
.sidebar-item-link:hover:after {
  margin-top: 1px;
  margin-left: 9px;
}

.sidebar-item-copy {
  color: #fffee6;
  font-family: "Merriweather", Georgia, serif;
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
  padding-top: 10px;
  position: relative;
  width: 90%;
}
.sidebar-item-copy:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 2px;
  content: '';
  transform: translateX(0);
  background: rgba(255, 255, 255, 0.2);
}

.edit-link {
  display: block;
  text-align: center;
  width: 100%;
}
.edit-link a {
  background: #e74c3c;
  color: #fff;
  display: block;
  font-family: "Merriweather Sans", Helvetica, sans-serif;
  font-size: 18px;
  padding: 10px 0;
  width: 100%;
}
.edit-link a:hover {
  background: #e85445;
  text-decoration: none;
}

.press-list {
  font-family: "Merriweather Sans", Helvetica, sans-serif;
  text-align: center;
}

.press-list-item {
  color: #fffee6;
  margin-bottom: 20px;
  position: relative;
  -webkit-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
.press-list-item:before {
  content: "";
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(34, 34, 34, 0.8);
  -webkit-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
}
.press-list-item.active {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.press-list-item.active:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.press-list-item.active:hover .press-list-item-inner {
  background: #2f2f2f;
}
.press-list-item.active:before {
  z-index: -1;
  visibility: hidden;
}

.press-list-item-inner {
  border: 1px solid #2f2f2f;
  min-height: 264px;
  padding: 10px;
}

.press-link-image {
  display: block;
  margin-bottom: 10px;
}

.press-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  display: block;
  height: 150px;
  width: 100%;
}
@media (min-width: 992px) {
  .press-image {
    height: 100px;
  }
}
.press-image img {
  width: 100%;
}

.press-link-text {
  display: block;
  font-size: 16px;
}

.press-date, .press-desc {
  font-family: "Merriweather", Georgia, serif;
  font-weight: 300;
  display: block;
  line-height: 22px;
}

.press-date {
  font-size: 12px;
}

.blog {
  background: #FEFFF5;
}
.blog .entry-title {
  margin: 0 0 20px 0;
}
.blog .entry-title a {
  font-weight: 800;
  text-decoration: none;
}
.blog .entry-title a:hover {
  color: #ffb31b;
}
.blog .entry-content {
  overflow: hidden;
}
.blog .entry-content h3 {
  color: #222;
  font-family: "Merriweather", Georgia, serif;
  font-weight: 400;
  margin-bottom: 10px;
  text-transform: none;
}
.blog .entry-content p {
  color: #323111;
  font-size: 16px;
  line-height: 24px;
}
.blog .entry-content p + h3 {
  margin-top: 40px;
}
.blog .menu-trigger-bars .menu-trigger-bars-ele {
  background: #323111;
}
.blog .menu-trigger-bars:hover .menu-trigger-bars-ele {
  background: #58561e;
}
.blog .post {
  margin: 0 0 80px 0;
}
.blog .content .row {
  height: 100%;
  position: relative;
}
.blog iframe {
  width: 100%;
}
.blog .entry-format, .blog .posted-on, .blog .comments-link {
  display: none;
}
.blog .format-image img {
  height: auto;
  width: 100%;
}

.inspire-bg-container {
  bottom: 0;
  height: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  width: 220px;
}

.inspire-bg {
  display: none;
}
@media (min-width: 992px) {
  .inspire-bg {
    background: url("img/rf-img-inspire-orangetree.jpg") no-repeat center fixed;
    background-size: 100%;
    bottom: 0;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}
@media (min-width: 992px) {
  .inspire-bg.footer-in-view {
    position: absolute;
    top: auto;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .inspire-content {
    left: 290px;
    position: relative;
  }
}

.inspire-header {
  position: relative;
  z-index: 100;
}
.inspire-header .page-title {
  color: #222;
  font-weight: 200;
  padding: 50px 0;
  text-transform: none;
}

.btn-contact {
  display: none;
}

.page-id-42 .cta {
  display: none;
}
.page-id-42 .btn-contact {
  display: inline-block;
}

.social-media-link i {
  text-align: center;
  width: 30px;
}

.media-type {
  margin: 0 0 20px 0;
}
.media-type li {
  display: inline-block;
  margin-right: 10px;
}
.media-type li:last-child {
  margin-right: 0;
}
.media-type a {
  background: #333333;
  display: block;
  padding: 5px 10px;
}
.media-type a:hover, .media-type a.active {
  background: #ffaa01;
  color: #fff;
}

.donate-button {
  width: 154px;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .donate-button {
    float: right;
    margin: 0;
  }
}

a[href="https://instagram.com/p/9thkXxqQNN/"], a[href="https://instagram.com/p/9thQLIKQMv6YuvqqSytoeTHI2r74w5JXy1MOg0/"], a[href="https://instagram.com/p/9tapo0qQP7FhRw3eqgK1KbCIS5hsyyDQKvI2k0/"] {
  display: none;
}

/*# sourceMappingURL=style.css.map */
