// _mixins.scss

@mixin horizontal-align {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@mixin vertical-align {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin absolute-center {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

@mixin transition($time: 600ms, $type:all, $style:cubic-bezier(.14, .62, .39, 1), $delay:0s) {
  -webkit-transition: $type $time $style $delay;
  -moz-transition: $type $time $style $delay;
  -o-transition: $type $time $style $delay;
  transition: $type $time $style $delay;
}

@mixin scale($s:1.5) {
  -webkit-transform: scale($s);
  -moz-transform: scale($s);
  -o-transform: scale($s);
  transform: scale($s);
}

@mixin columns($width, $count){
  -webkit-columns: $width $count;
     -moz-columns: $width $count;
          columns: $width $count;
}

@mixin translateX($value){
  -webkit-transform: translateX($value);
  -moz-transform: translateX($value);
  -o-transform: translateX($value);
  transform: translateX($value);
}

@mixin skewX($value){
  -webkit-transform: skewX($value);
  -moz-transform: skewX($value);
  -o-transform: skewX($value);
  transform: skewX($value);
}

@mixin skewY($value){
  -webkit-transform: skewY($value);
  -moz-transform: skewY($value);
  -o-transform: skewY($value);
  transform: skewY($value);
}

@mixin transSkew($tVal,$sVal){
  -webkit-transform: translateX($tVal) skewX($sVal);
  -moz-transform: translateX($tVal) skewX($sVal);
  -o-transform: translateX($tVal) skewX($sVal);
  transform: translateX($tVal) skewX($sVal);
}

@mixin transSkew2($tVal,$sVal){
  -webkit-transform: translateY($tVal) skewY($sVal);
  -moz-transform: translateY($tVal) skewY($sVal);
  -o-transform: translateY($tVal) skewY($sVal);
  transform: translateY($tVal) skewY($sVal);
}

@mixin scale($value){
  -webkit-transform: scale($value);
  -moz-transform: scale($value);
  -o-transform: scale($value);
  transform: scale($value);
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}