$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xl-min: 1440px;
$font-serif: 'Merriweather', Georgia, serif;
$font-sanserif: 'Merriweather Sans', Helvetica, sans-serif;
$font-headline: $font-sanserif;
$font-paragraph: $font-serif;
$color-black: #222;
$color-green: #dbd83c;
$color-pale-green: #fffee6;
$color-light-green: #fffbb7;
$color-dark-green: #323111;
$color-white: #fff;
$color-grey: #ccc;
$color-grey-darken-x: darken($color-grey, 5%);
$color-grey-darken-xx: darken($color-grey, 15%);
$color-grey-darken-xxx: darken($color-grey, 30%);
$color-grey-darken-xxxx: darken($color-grey, 60%);
$color-orange: #ffaa01;
$color-pale-orange: #ffeece;
$color-red: #e74c3c;
$color-tan: #FEFFF5;
$header-vspace: 10px;
$logo-height-desktop: 89px;
$logo-height-mobile: 37px;
$link-color: $color-orange;
$link-hover-color: $color-pale-orange;