/*
Theme Name: The Finley Theme
Theme URI: http://www.ronfinley.com
Author: Made by Porter
Author URI: https://www.madebyporter.com
Description: The Official Theme for Ron Finley
Version: 0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: fresh, green
Text Domain: thefinleytheme
*/

@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:200,400,700,800);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400italic,400,300italic,300,700,700italic);

@import '_variables.scss';
@import '_mixins.scss';

body {
  background: #222;
  font-family: $font-paragraph;
  margin: 0;
  padding: 0;
  &.menu-active {
    overflow: hidden;
    .navmenu {
      @include translateX(-310px);
      @media (min-width: $screen-md-min) {
        @include translateX(-800px);
      }
      &:before {
        @include skewX(2deg);
        @media (min-width: $screen-md-min) {
          @include skewX(5deg);
        }
      }
    }
  }
}

a {
  color: $link-color;
  cursor: pointer;
  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-headline;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

h1 {
  font-size: 36px;
  color: $color-pale-green;
  @media (min-width: $screen-md-min) {
    font-size: 60px;
  }
  .text-small {
    font-size: 18px;
    @media (min-width: $screen-md-min) {
      font-size: 24px;
    }
  }
}

h2 {
  font-size: 18px;
  color: $color-pale-green;
  @media (min-width: $screen-md-min) {
    font-size: 48px;
  }
}

h3 {
  font-size: 16px;
  line-height: 20px;
  color: $color-pale-green;
  @media (min-width: $screen-md-min) {
    font-size: 21px;
    line-height: 25px;
  }
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  font-weight: 300;
  margin-bottom: 20px;
}

.align-left {
  float: left;
  clear: left;
  width: 100%;
  padding: 20px 0;
  @media (min-width: $screen-md-min) {
    width: auto;
    padding: 40px;
  }
}

.align-right {
  float: right;
  clear: right;
  width: 100%;
  padding: 20px 0;
  @media (min-width: $screen-md-min) {
    width: auto;
    padding: 40px;
  }
}

.btn {
  font-family: $font-headline;
  font-weight: 700;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  color: $color-white;
  border-radius: 0;
  background: $color-grey-darken-x;
}

.btn-green {
  color: lighten($color-dark-green, 10%);
  background: $color-green;
  &:hover {
    color: darken($color-dark-green, 70%);
    background: lighten($color-green, 10%);
  }
}

.btn-orange {
  color: #fff;
  background: $color-orange;
  &:hover {
    color: darken($color-orange, 70%);
    background: lighten($color-orange, 10%);
  }
}

.btn-donate {
  color: lighten($color-pale-orange, 5%);
  background: $color-orange;
  &:hover {
    color: darken($color-pale-orange, 70%);
    background: lighten($color-orange, 10%);
  }
}

.btn-cta {
  background: $color-orange;
  float: right;
  margin: 13px 0;
}

.btn-cta-3 {
  margin: 26px 0;
}

.btn-play {
  background: none;
  border: 3px solid $color-green;
  border-radius: 100px;
  color: $color-green;
  font-size: 36px;
  overflow: hidden;
  padding: 20px 30px;
  position: relative;
  @include transition;
  &:hover {
    border-color: $color-pale-green;
    color: $color-pale-green;
    @include scale(1.1);
  }
  &:active {
    border-color: $color-pale-green;
    color: $color-pale-green;
  }
  i {
    line-height: 1;
  }
}

.centered {
  text-align: center;
}
.navmenu {
  position: fixed;
  z-index: 10000;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 310px;
  height: 100%;
  /* transform: translateX(105%); */
  
  @include transition;
  @media (min-width: $screen-md-min) {
    width: 800px;
  }
  &:before {
    @include skewX(0deg);
    background: $color-green;
  }
}

.navmenu-options {
  float: right;
  height: 100%;
  padding: 20px 0;
  border-left: 1px solid $color-dark-green;
  list-style: none;
  li > div, li > a {
    font-size: 24px;
    font-style: normal !important;
    font-weight: 700;
    line-height: 34px;
    display: block;
    padding: 25px 20px;
    cursor: pointer;
    text-align: center;
    color: rgba(0, 0, 0, .5);
    @media (min-width: $screen-md-min) {
      padding: 30px 20px;
    }
    &:hover {
      color: rgba(0, 0, 0, .8);
      text-decoration: none;
    }
  }
}

.navmenu-close {
  font-family: $font-sanserif;
  background: rgba(255, 255, 255, .4);
}

.navmenu-list ul {
  float: right;
  overflow: hidden;
  width: 75%;
  height: 100%;
  margin: 20px 0 0 0;
  padding-bottom: 10%;
  text-align: right;
  @media (min-width: $screen-md-min) {
    width: 80%;
  }
  li {
    position: relative;
    display: block;
    &:before {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      content: '';
      @include transSkew(105%,2deg);
      background: rgba(255, 255, 255, .5);
      @include transition(600ms, all, cubic-bezier(.14, .62, .39, 1), 0s);
      @media (min-width: $screen-md-min) {
        @include transSkew(105%,5deg);
      }
    }
    &:hover {
      &:before {
        @include transSkew(10%,2deg);
        @media (min-width: $screen-md-min) {
          @include transSkew(10%,5deg);
        }
      }
    }
  }
  a {
    font-family: $font-sanserif;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    z-index: 10;
    display: block;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-dark-green;
    @include transition;
    &:hover {
      padding-right: 40px;
    }
    @media (min-width: $screen-md-min) {
      font-size: 24px;
      padding: 30px 20px;
    }
  }
}

.remove-sides {
  margin-right: -15px;
  margin-left: -15px;
  .content-piece, ol, ul, li {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.remove-sides-double {
  margin-right: -30px;
  margin-left: -30px;
  @media (min-width: $screen-md-min) {
    margin-right: -30px;
    margin-left: -30px;
  }
  .content-piece,
  ol,
  ul,
  li {
    padding-right: 15px;
    padding-left: 15px;
    @media (min-width: $screen-md-min) {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
}

.masthead {
  position: absolute;
  z-index: 10000;
  width: 100%;
  opacity: 1;
  padding: 20px 0;
  visibility: visible;
  @include transition;
  @media (min-width: $screen-md-min) {
    padding: 40px 20px;
  }
}

.masthead-logo {
  z-index: 20;
  display: block;
  overflow: hidden;
  width: 60px;
  height: $logo-height-mobile;
  text-indent: -9999px;
  background: url('img/rf-logo-white-small.svg') no-repeat;
  background-size: cover;
  @media (min-width: $screen-md-min) {
    width: 131px;
    height: $logo-height-desktop;
    background: url('img/rf-logo-white.svg') no-repeat;
    background-size: cover;
  }
}

.masthead-menu-trigger {
  font-size: 24px;
  position: relative;
  float: right;
  width: 100%;
  height: $logo-height-mobile;
  @media (min-width: $screen-md-min) {
    height: $logo-height-desktop;
  }
}

.menu-trigger-bars {
  position: absolute;
  right: 0;
  width: 45px;
  height: 30px;
  cursor: pointer;
  @include vertical-align;
  &:before {
    font-family: $font-sanserif;
    font-size: 12px;
    font-weight: 200;
    line-height: 27px;
    position: absolute;
    left: -50px;
    overflow: hidden;
    width: 45px;
    height: 27px;
    content: 'Menu';
    text-align: right;
    text-indent: 0;
    letter-spacing: .02em;
    text-transform: uppercase;
    color: $color-pale-green;
    @include transition;
  }
}

.menu-trigger-bars-ele {
  width: 100%;
  height: 5px;
  margin-bottom: 5px;
  background: $color-pale-green;
}

.content-block {
  position: relative;
  .container-fluid {
    /*padding-left: 0;
    padding-right: 0;*/
  }
  &.feed {
    position: relative;
    // top: -35px;
    z-index: 10;
    @include transition;
    @media (min-width: $screen-md-min) {
      // top: -100px;
    }
  }
}
.hero {
  padding: 100px 0 40px 0;
  position: relative;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  @media (min-width: $screen-md-min) {
    padding: 15% 0;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
  }
}
.hero--content {
  height: auto;
  position: absolute;
  width: 300px;
  z-index: 1000;
  @include absolute-center;
  @media (min-width: $screen-md-min) {
    width: 100%;
  }
}
.hero--header {
  width: 80%;
  margin: 0 auto;
  margin-bottom: $header-vspace;
  @media (min-width: $screen-md-min) {
    width: 100%;
  }
  h1 {
    margin-bottom: 20px;
    @media (min-width: $screen-md-min) {
      margin: 0 auto;
    }
    span {
      display: inline-block;
    }
  }
  .large {
    display: block;
  }
}

$vhs: 548px;
$vhm: 675px;
$vhl: 721px;
$vhxl: 860px;

.home .hero {
  background-position: center top;
  height: $vhs;
  padding: 0;
  position: relative;
  @media (min-width: $screen-lg-min) {
    height: $vhl;
  }
  @media (min-width: $screen-xl-min) {
    height: $vhxl;
  }
}

.hero-content-container {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  .container-fluid, .row, .col-md-12 {
    height: 100%;
  }
}



.hero-html5video {
  background: $color-dark-green;
  bottom: 0;
  display: none;
  height: $vhs;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  // @include skewY(-2deg);
  @media (min-width: $screen-md-min) {
    display: block;
  }
  @media (min-width: $screen-lg-min) {
    height: $vhl;
  }
  @media (min-width: $screen-xl-min) {
    height: $vhxl;
  }
}

.hero-html5video-control {

  position: absolute;
  @include absolute-center;
  @include opacity(0.4);
  height: $vhs;
  @media (min-width: $screen-md-min) {
    height: $vhm;
  }
  @media (min-width: $screen-lg-min) {
    height: $vhl + 90px;
  }
  @media (min-width: $screen-xl-min) {
    height: $vhxl + 220px;
  }
}

.hero-popover-video {
  @include transition;
  background: rgba(0,0,0,0.8);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 10000;
  iframe {
    opacity: 0; 
    @include transition;
  }
}

.hero-popover-video-close {
  color: $color-pale-green;
  cursor: pointer;
  font-size: 36px;
  opacity: 0;
  position: absolute;
  // right: 50px;
  // top: 60px;
  right: 13px;
  top: 130px;
  @include transition(600ms, all, cubic-bezier(.14, .62, .39, 1), 800ms);
  &:hover {
    color: $color-white;
  }
}

.hero-video-on {
  overflow: hidden;

  .masthead {
    opacity: 0;
    visibility: hidden;
  }
  .hero-popover-video {
    opacity: 1;
    visibility: visible;

    iframe {
      opacity: 1;
      height: $vhs;
      @media (min-width: $screen-md-min) {
        height: $vhm;
      }
      @media (min-width: $screen-lg-min) {
        height: $vhl;
      }
      @media (min-width: $screen-xl-min) {
        height: $vhxl;
      }
    }
  }
  .hero-popover-video-close {
    opacity: 1;
  }
}

.sup-header {
  position: relative;
  margin: 0 0 10px 0;
  padding: 10px 0;
  color: $color-pale-green;
  @media (min-width: $screen-md-min) {
    width: 50%;
    margin: 0 auto 10px;
  }
  &:after {
    position: absolute;
    bottom: 0;
    width: 40%;
    height: 4px;
    content: '';
    background: $color-green;
    @include horizontal-align;
  }
}

.copy {
  position: relative;
}

.copy .content-piece-container {
  position: relative;
  &:nth-child(even) {
    background: #262626;
  }
  @media (min-width: $screen-md-min) {
    &> div:nth-child(2) {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 50%;
      height: 100%;
    }
  }
}

.content-piece {
  // overflow: hidden;
  margin: 0 auto;
  padding: 80px 0;
  text-align: center;
  @media (min-width: $screen-sm-min) {
    width: 70%;
  }
  @media (min-width: $screen-md-min) {
    width: 70%;
    text-align: left;
  }
  p {
    color: $color-pale-green;
    font-family: $font-paragraph;
    font-size: 21px;
    line-height: 29px;
    overflow: hidden;
    text-align: left;
    &.centered-mobile {
      text-align: center;
      @media (min-width: $screen-md-min) {
        text-align: left;
      }
    }
  }
}

.content-piece-wide {
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-width: $screen-md-min) {
    background-attachment: fixed;
  }
  .content-piece-header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .content-piece-header:after {
    @include horizontal-align;
  }
  .intro p {
    text-align: center;
    &:after {
      @include horizontal-align;
    }
  }
  p {
    font-size: 21px;
    font-weight: 300;
    line-height: 29px;
  }
  img {
    border: 2px solid rgba(255, 255, 255, .1);
    height: auto;
    padding: 5px;
    width: 100%;
    @media (min-width: $screen-md-min) {
      width: auto;
    }
  }
}

.content-piece--copy {
  &:last-child {
    p:after {
      display: none;
    }
  }
}

img.alignright { float: right; margin: 0 0 1em 3em; }
img.alignleft { float: left; margin: 0 3em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

.large p {
  font-size: 28px;
  line-height: 38px;
  position: relative;
  padding-bottom: 20px;
  &:after {
    position: absolute;
    bottom: 0;
    width: 20%;
    height: 2px;
    content: '';
    background: rgba(255, 255, 255, .1);
    @include horizontal-align;
    @media (min-width: $screen-md-min) {
      left: 3px;
      transform: translateX(0);
    }
  }
}

.intro p {
  text-align: left;
  &:after {
    position: absolute;
    bottom: 0;
    width: 20%;
    height: 2px;
    content: '';
    background: rgba(255, 255, 255, .1);
    @include horizontal-align;
    @media (min-width: $screen-md-min) {
      left: 3px;
      transform: translateX(0);
    }
  }
}

.centered p {
  text-align: center
}

.content-piece-header {
  position: relative;
  margin: 0 auto 10px;
  padding: 10px 0;
  text-align: center;
  @media (min-width: $screen-md-min) {
    margin: 0 auto 20px;
    padding: 20px 0;
    text-align: left;
  }
  &:after {
    position: absolute;
    bottom: 0;
    width: 40%;
    height: 2px;
    content: '';
    background: $color-green;
    @include horizontal-align;
    @media (min-width: $screen-md-min) {
      left: 3px;
      transform: translateX(0);
    }
  }
  &.centered {
    text-align: center;
    &:after {
      @include horizontal-align;
    }
  }
}

.content-image {
  position: relative;
  overflow: hidden;
  height: 280px;
  background-color: $color-green;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  @media (min-width: $screen-md-min) {
    height: 100%;
  }
}

.content-bg-image {
  background-color: #33320e;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
}

.content-piece--cta {
  font-family: $font-headline;
  font-weight: 700;
  position: relative;
  display: inline-block;
  margin: 20px auto;
  padding-right: 10px;
  text-transform: uppercase;
  color: $color-pale-green;
  &:after {
    font-family: FontAwesome;
    position: absolute;
    right: -5px;
    margin-top: 0;
    content: '\f0d7';
    color: $color-orange;
    @include transition(200ms);
  }
  &:hover {
    text-decoration: none;
    color: darken($color-pale-green, 5%);
    &:after {
      margin-top: 2px;
    }
  }
  @media (min-width: $screen-md-min) {
    margin: 20px 0;
    text-align: left;
  }
}

.cta-header {
  margin-bottom: $header-vspace - 5px;
  h2 {
    font-size: 28px;
  }
}

.cta-copy {
  padding: 8px 0;
  .cta-header {
    margin-bottom: 0;
    text-align: center;
    @media (min-width: $screen-md-min) {
      text-align: left;
    }
  }
  .cta-header-small {
    h2 {
      font-size: 24px;
    }
  }
}

.cta {
  background: $color-green;
}

.cta-inner {
  position: relative;
  z-index: 1000;
  padding: 20px 0;
}

.cta-col-right {
  height: 100%;
}

.cta-icon {
  $s: 66px;
  border-radius: $s;
  border: 3px solid #fff;
  color: $color-white;
  float: right;
  height: $s;
  line-height: $s + 4px;
  margin: 15px 0;
  right: 20px;
  text-align: center;
  width: $s;
  @include transition;
  @media (min-width: $screen-lg-min) {
    margin: 0;
  }
  i {
    font-size: 28px;
    color: #fff;
  }
  &:hover {
    @include scale(1.1);
  }
}

.cta-link {
  font-family: $font-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  color: $color-pale-orange;
}

.footer {
  position: relative;
  background: $color-dark-green;
}

.footer-header {
  margin-bottom: $header-vspace;
  h2 {
    font-size: 16px;
  }
}

.footer-block {
  padding: 20px 0;
}

.footer-nav {
  a {
    font-family: $font-sanserif;
    display: block;
    padding: 20px 0;
    text-align: left;
    text-transform: uppercase;
    color: $color-light-green;
    &:hover {
      font-weight: 700;
      text-decoration: none;
      color: $color-pale-green;
    }
    @media (min-width: $screen-md-min) {
      padding: 10px 0;
    }
  }

  .menu-navigation-container .menu {
    @include columns(250px,2);
    li {
      display: inline-block;
      width: 250px;
      vertical-align: top;
    }
  }
}

.footer-email {
  text-align: center;
  background: url('https://dl.dropboxusercontent.com/u/80054631/img-leaf.jpg') no-repeat center;
  background-size: cover;
  @media (min-width: $screen-md-min) {
    text-align: left;
  }
}

.footer-email-form {
  padding: 42px 0;
}

.footer-email--input {
  font-family: $font-headline;
  width: 100%;
  margin-bottom: 5px;
  padding: 15px 0;
  text-align: center;
  border: 0;
}

.footer-email--text {
  font-family: $font-sanserif;
  font-size: 16px;
  padding-right: 15px;
  padding-left: 15px;
  outline: 0;
  box-shadow: inset 6px 0 0 $color-orange;
  @include transition();
  @media (min-width: $screen-md-min) {
    text-align: left;
  }
  &:focus {
    padding-left: 25px;
    box-shadow: inset -2px -2px 0 darken($color-orange, 20%), inset 12px 0 0 $color-orange;
  }
}

.skew {
  &:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    overflow: visible;
    width: 105%;
    height: 100%;
    content: '';
  }
}

.content-footer {
  border-top: 3px solid rgba(255,255,255,0.2);
  margin: 10px 0 0 0;
  padding: 10px 5px 0;
  text-align: right;
}

.ig-feed {
  display: none;
  background: $color-grey-darken-xxxx;
  margin: 20px 0 20px 0;
  padding: 20px 0 10px;
  @media (min-width: $screen-md-min) {
    margin: 20px 0 20px 5px;
  }
  header {
    margin: 20px 20px 10px 20px;
    padding: 0 0 10px 0;
    position: relative;
    text-align: center;
    @media (min-width: $screen-md-min) {
      text-align: left;
    }
    &:after {
      position: absolute;
      bottom: 0;
      width: 10%;
      height: 2px;
      content: '';
      background: rgba(255, 255, 255, .1);
      @include horizontal-align;
      @media (min-width: $screen-md-min) {
        left: 0px;
        transform: translateX(0);
      }
    }
    h3 {
      display: inline-block;
      margin: 0 0 5px 0;
    }
    span {
      color: $color-grey;
      display: inline-block;
      font-size: 16px;
    }
  }
}

.instagram {
  $ig: 50px;
  // height: 100%;
  // min-height: 600px;
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: 10;
  // &:before {
  //   color: $color-white;
  //   content: "Loading images...";
  //   font-family: $font-sanserif;
  //   font-size: 16px;
  //   left: 0;
  //   padding: 300px 0;
  //   position: absolute;
  //   text-align: center;
  //   width: 100%;
  //   z-index: 1;
  // }
  // div:nth-child(3n+2) {
  //   position: relative;
  //   @media (min-width: $screen-md-min) {
  //     top: $ig;
  //   }
  // }
  .item {
    float: left;
    height: auto;
    position: relative;
    // @include skewY(-2deg);
    overflow: hidden;
    width: 100%;
    z-index: 10;
    @include transition;
    @media (min-width: $screen-sm-min) {
      padding: 12px;
    }
    @media (min-width: $screen-md-min) {
      width: 33.3%;
    }
    &:hover {
      background-color: darken($color-black,5%);
      a {
        @include scale(1.05);
      }
    }
    a {
      display: block;
      width: 100%;
      @include scale(1);
      @include transition;
    }
    img {
      // position: relative;
      // @include skewY(2deg);
      width: 100%;
    }
  }
}



.home-sidebar {
  padding-top: 20px;
}

.home-featured-videos {
  background: $color-grey-darken-xxxx;
  margin: 20px 0 20px 0;
  padding: 20px 0 10px;
  @media (min-width: $screen-md-min) {
    margin: 20px 0 20px 5px;
  }
  header {
    margin: 20px 0 20px 0;
    padding: 0 0 10px 0;
    position: relative;
    text-align: center;
    @media (min-width: $screen-md-min) {
      text-align: left;
    }
    &:after {
      position: absolute;
      bottom: 0;
      width: 10%;
      height: 2px;
      content: '';
      background: rgba(255, 255, 255, .1);
      @include horizontal-align;
      @media (min-width: $screen-md-min) {
        left: 0px;
        transform: translateX(0);
      }
    }
  }
}

.home-featured-videos-ele {
  margin: 0 0 10px 0;
  @media (min-width: $screen-md-min) {
    margin: 0;
  }
  iframe {
    border: 3px solid transparent;
    @include transition;
    &:hover {
      border: 3px solid $color-green;
      @include scale(1.05);
    }
  }
}

.sidebar {
  position: relative;
  margin-bottom: 20px;
  
  padding: 60px 20px 40px 20px;
  &:after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    // @include skewY(-2deg);
    background-color: $color-grey-darken-xxxx;
  }
  &:last-child {
    // margin-bottom: 0;
  }
}

.sidebar-item {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 2px;
    content: '';
    transform: translateX(0);
    background: rgba(255, 255, 255, .2);
  }
  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    &:after {
      display: none;
    }
  }

  .fa-caret-left {
    color: $color-orange;
  }
}

.sidebar-item-header {
  margin-bottom: 5px;
}

.sidebar-item-link {
  font-size: 12px;
  font-weight: 300;
  margin: 0;
  &:after {
    margin-top: 1px;
    content: '\f0da';
  }
  &:hover {
    &:after {
      margin-top: 1px;
      margin-left: 9px;
    }
  }
}

.sidebar-item-copy {
  color: $color-pale-green;
  font-family: $font-serif;
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
  padding-top: 10px;
  position: relative;
  width: 90%;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 2px;
    content: '';
    transform: translateX(0);
    background: rgba(255, 255, 255, .2);
  }
}

.edit-link {
  display: block;
  text-align: center;
  width: 100%;
  a {
    background: $color-red;
    color: $color-white;
    display: block;
    font-family: $font-sanserif;
    font-size: 18px;
    padding: 10px 0;
    width: 100%;
    &:hover {
      background: lighten($color-red,2%);
      text-decoration: none;
    }
  }
}

.press-list {
  font-family: $font-sanserif;
  text-align: center;
}
.press-list-item {
  color: $color-pale-green;
  margin-bottom: 20px;
  position: relative;
  @include transition;
  @include scale(0.9);
  &:before {
    content: "";
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(34,34,34,0.8);
    @include transition;
  }
  &.active {
    @include scale(1);
    &:hover {
      @include scale(1.1);
      .press-list-item-inner {
        background: lighten($color-black,5%);
      }
    }
    &:before {
      z-index: -1;
      visibility: hidden;
    }
  }
}
.press-list-item-inner {
  border: 1px solid lighten($color-black,5%);
  min-height: 264px;
  padding: 10px;
  
}
.press-link-image {
  display: block;
  margin-bottom: 10px;
}
.press-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  display: block;
  height: 150px;
  width: 100%;
  @media (min-width: $screen-md-min) {
    height: 100px;
  }
  img {
    width: 100%;
  }
}
.press-link-text {
  display: block;
  font-size: 16px;
}
.press-date, .press-desc {
  font-family: $font-serif;
  font-weight: 300;
  display: block;
  line-height: 22px;
}
.press-date {
  font-size: 12px;
}

.blog {
  background: $color-tan;

  .entry-title {
    margin: 0 0 20px 0;
    a {
      font-weight: 800;
      text-decoration: none;
      &:hover {
        color: lighten($color-orange,5%);
      }
    }
  }

  .entry-content {
    overflow: hidden;
    h3 {
      color: $color-black;
      font-family: $font-serif;
      font-weight: 400;
      margin-bottom: 10px;
      text-transform: none;
    }
    p {
      color: $color-dark-green;
      font-size: 16px;
      line-height: 24px;
      &+ h3 {
        margin-top: 40px;
      }
    }
  }



  .menu-trigger-bars {
    .menu-trigger-bars-ele {
      background: $color-dark-green;
    }
    &:hover {
      .menu-trigger-bars-ele {
        background: lighten($color-dark-green,10%);
      }
    }
  }

  .post {
    margin: 0 0 80px 0;
  }

  .content .row {
    height: 100%;
    position: relative;
  }

  iframe {
    width: 100%;
  }

  .entry-format, .posted-on, .comments-link {
    display: none;
  }

  .format-image {
    img {
      height: auto;
      width: 100%;
    }
  }
}

.inspire-bg-container {
  bottom: 0;
  height: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  width: 220px;
}

.inspire-bg {
  display: none;
  @media (min-width: $screen-md-min) {
    background: url("img/rf-img-inspire-orangetree.jpg") no-repeat center fixed;
    background-size: 100%;
    bottom: 0;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    // @include skewX(-2deg);
  }
  &.footer-in-view {
    @media (min-width: $screen-md-min) {
      position: absolute;
      top: auto;
      width: 100%;
    }
  }
}

.inspire-content {
  @media (min-width: $screen-md-min) {
    left: 290px;
    position: relative;
  }
}

.inspire-header {
  position: relative;
  z-index: 100;
  .page-title {
    color: $color-black;
    font-weight: 200;
    padding: 50px 0;
    text-transform: none;
  }
}

.btn-contact {
  display: none;
}

.page-id-42 {
  .cta {
    display: none;
  }
  .btn-contact {
    display: inline-block;
  }
}

.social-media-link {
  a {

  }
  i {
    text-align: center;
    width: 30px;
  }
}

.media-type {
  margin: 0 0 20px 0;
  li {
    display: inline-block;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    background: $color-grey-darken-xxxx;
    display: block;
    padding: 5px 10px;
    &:hover, &.active {
      background: $color-orange;
      color: $color-white;
    }
  }
}

.donate-button {
  width: 154px;
  margin: 0 auto;
  @media (min-width: $screen-md-min) {
    float: right;
    margin: 0;
  }
}

a[href="https://instagram.com/p/9thkXxqQNN/"], a[href="https://instagram.com/p/9thQLIKQMv6YuvqqSytoeTHI2r74w5JXy1MOg0/"], a[href="https://instagram.com/p/9tapo0qQP7FhRw3eqgK1KbCIS5hsyyDQKvI2k0/"] {
  display: none;
} 